<div class="container">
  <div id="todoapp">

    <h1 class="text-center">LMP ToDo</h1>

    <div class="row">
      <%= render partial: 'tasks/task', collection: @tasks %>
    </div>
    <!-- /row -->

    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">
        <%= render partial: 'tasks/form', locals: {task: @task} %>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->

    </div>
    <!-- /row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <!-- /divider -->
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">

        <%= link_to complete_all_tasks_path, class: 'btn btn-default btn-lg' do %>
            <i class="fa fa-check"></i>
        <% end %>
        Mark all as complete
      </div>
      <div class="col-sm-4 text-right">

      </div>
    </div>
    <!-- /row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <!-- /divider -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-2  text-center">
                <span id="todo-count"><strong></strong>

                </span>
      </div>
      <div class="col-sm-4 text-center">
        <ul class="list-inline" id="filters">
          <li>
            <a class="btn btn-sm" href="#/">All</a>
          </li>
          <li>
            <a class="btn btn-sm" href="#/active">Active <span class="badge badge-info">1</span></a>
          </li>
          <li>
            <a class="btn btn-sm" href="/completed">Completed</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2  text-center">
        <button class="btn btn-sm btn-success" id="clear-completed">Clear completed (1)</button>
      </div>

    </div>
    <!--/ row -->


    <hr>


    <hr>

  </div>
  <!--/ app -->
</div><!--/ container -->

<footer class="well">
  Thanks <a href="http://todomvc.com/">TodoMVC</a>. Bootstrap by <a href="http://bootply.com/127322">Bootply</a>.
</footer>