<div class="input-group input-group-lg">
    <span class="input-group-btn">
        <button class="btn btn-success btn-lg"><i class="fa fa-chevron-right"></i></button>
    </span>
    <%= simple_form_for task do |f| %>
        <%= f.input :description, as: :string, placeholder: 'What needs to be done?', label: false, input_html: { class: 'form-control input-lg', autofocus: '' } %>
        <span class="input-group-btn">
          <%= button_tag class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </span>
    <% end %>
</div>
