    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
          
            <% if task.done? %>
              <a href="#"><i class="fa fa-check mark-as-done task-done-checkmark" data-task-id="<%= task.id %>"></i></a>
            <% else %>
              <a href="#"><i class="fa fa-check mark-as-done" data-task-id="<%= task.id %>"></i></a>
            <% end %>

          </span>
          <form>
            <input class="edit form-control input-lg" value="<%= task.description%>">
          </form>
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg destroy"><i class="glyphicon glyphicon-remove"></i></button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->

    </div>
    <!-- /row -->