<div class="col-sm-8 col-sm-offset-2">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">
      <%= link_to task_toggle_path(id: task.id) do %>
          <% if task.done? %>
              <i style="color: green;" class="fa fa-check"></i>
          <% else %>
              <i style="color: gray;" class="fa fa-check"></i>
          <% end %>
      <% end %>
    </span>
    <%= simple_form_for task do |f| %>
        <%= f.input :description, as: :string, label: false, input_html: { class: 'edit form-control input-lg' } %>
        <span class="input-group-btn">
            <%= link_to task_path(task), class: 'btn btn-default btn-lg destroy', method: :delete do %>
                <i class="glyphicon glyphicon-remove"></i>
            <% end %>
        </span>
    <% end %>
  </div>
  <!-- /input-group -->
</div>
<!-- /.col-lg-6 -->