<div class="container">
  <div id="todoapp">

    <h1 class="text-center">LMP ToDo</h1>

  </div>
  <!--/ app -->
</div><!--/ container -->

<footer class="well">
  Thanks <a href="http://todomvc.com/">TodoMVC</a>. Bootstrap by <a href="http://bootply.com/127322">Bootply</a>.
</footer>