{{#each task in controller}}
  {{render 'task' task}}
{{/each}}
{{partial "new"}}


    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <!-- /divider -->
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">

        <button class="btn btn-default btn-lg" id="toggle-all" {{action "allDone"  on="click"}}><i class="fa fa-check"></i></button>
        Mark all as complete
      </div>
      <div class="col-sm-4 text-right">

      </div>
    </div>
    <!-- /row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <!-- /divider -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-2  text-center">
                <span id="todo-count"><strong></strong>

                </span>
      </div>
      <div class="col-sm-4 text-center">
        <ul class="list-inline" id="filters">
          <li>
            <a class="btn btn-sm" href="#/">All</a>
          </li>
          <li>
            <a class="btn btn-sm" href="#/active">Active <span class="badge badge-info">1</span></a>
          </li>
          <li>
            <a class="btn btn-sm" href="/completed">Completed</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2  text-center">
        <button class="btn btn-sm btn-success" id="clear-completed">Clear completed (1)</button>
      </div>

    </div>
    <!--/ row -->


    <hr>


    <hr>
